<div class="top-bar">
    <div class="logo-container">
        <img src="~/images/ceplan-logo.svg" alt="Logo CEPLAN" class="header-logo" />
    </div>

    <div class="help-icon">
        <img src="~/images/help-icon.svg" alt="Ayuda" class="help-icon-img" />
    </div>
</div>